<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.edoc.dao.category.CategoryMapper">
 	<select id="find" resultMap="catogoryResult">
 		select * from edoc_category
 	</select>
 	<resultMap type="com.edoc.entity.Category" id="catogoryResult">
 		<id property="id" column="id"/>
 		<result property="name" column="name"/>
 	</resultMap>
 </mapper>