<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.info.dao.ClassesMapper">
 	<select id="find" resultMap="classesResult">
 		select * from classes
 	</select>
 	<resultMap type="com.info.entity.Classes" id="classesResult">
 		<id property="claId" column="c_id"/>
 		<result property="claName" column="c_name"/>
 	</resultMap>
 </mapper>